body {
  font-family: "Lato", sans-serif;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: white;
  overflow: hidden;
  text-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: white;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: white;
  color: white;
}

#map {
  height: 100%;
  overflow-y: visible !important 
}

.map{
  display: contents;
}

html, body {
        height: 100%;
        margin: 0;
        padding: 0;
}

.h1{
    text-align: center;
}
.jumbotron {
    background-color: #A8DADC;
    height: 100%;
    display: flex;
    align-items: center;
}

.progress-bar {
    animation: progress 5s;
}

@keyframes progress {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}
.header_container{
    text-align: center;
    background-color: #30BCED;
    color: white;
}


